<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAKEMYPATH APP</title>
</head>
<body style="background: #fff;font-family: Arial, Helvetica, sans-serif;">
    <section style="background: #fff;width: 100%;margin: auto;">
        <div style="box-shadow: 0px 3px 20px 0px grey;border-radius: 5px;">
            <div style="background: #FEFEFE;">
                <h1 style="color:#000;font-weight:bolder;font-size: 1.8rem;text-align: center;padding: 1.50rem 0rem;margin: 0;">
                    <span style="color:yellow;">MMP</span> ErDr</h1>
            </div>
             <div style="background: #60D3FF;text-align: center;font-size: 1.50rem;color: white;padding: 0.60rem 0rem;">
                <h4 style="margin:0;">Hi User with email {{ email }}</h4>
                <h2>Forgot Your Password?</h2>
                <h4 style="margin:0;">That's okay it happens!</h4>
                <h4 style="margin:0;">use {{ token }} as OTP to reset your password</h4>
            </div>
         </div>
    </section>
</body>
</html>

